 .body
 {
   background-color: lightgreen;
 }

.container
{
  height: 500px;
  width: 500px;
  background-color: pink;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.mellan{
  background-color: white
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.item{
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  display: flex;

}
