 body{
   background-color: purple;

}

.over{
  width: 120px;
  height: 40px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 5px;
  padding:7px;

}

.over-content{
  display: none;
}

.over-content a{
  width: 100px;
  height: 20px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 5px;
  padding:7px;
  border-color: black;
}

.over:hover .over-content {
  display: block;
}
.green{
  background-color: green;
height:800px;
width:600px;
  position: absolute;
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 5px;
  padding:7px;



}
