 body{
   background-color: purple;
<<<<<<< HEAD

=======
>>>>>>> 078d6989549431af4a45ad7953921ebc33e8bad9
}

.over{
  width: 120px;
  height: 40px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  border: 3px solid;
  border-radius: 10px;
<<<<<<< HEAD
=======
  border-style: solid;
>>>>>>> 078d6989549431af4a45ad7953921ebc33e8bad9
  box-shadow: 5px;
  padding:7px;

}

<<<<<<< HEAD
.over-content{
  display: none;
}

.over-content a{
  width: 100px;
  height: 20px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 5px;
  padding:7px;
  border-color: black;
}

.over:hover .over-content {
  display: block;
}
.green{
  background-color: green;
height:800px;
width:600px;
  position: absolute;
  border: 3px solid;
  border-radius: 10px;
  box-shadow: 5px;
  padding:7px;



=======
.under {
display:none;
}

.over:hover .under {
display: block;
background-color: lightblue;
width:180px;
height: 35px;
border-radius: 10px;
border-style: ridge;
box-shadow: 5px;
padding:7px;
>>>>>>> 078d6989549431af4a45ad7953921ebc33e8bad9
}
