body{
  background-color: grey;
}
.songs{
  width:;
  height:200px;
  background-color: darkgrey;
  border-radius: 10px;

  box-shadow: 5px 5px 5px white;
  padding:7px;

}
.box {
width:500px;
height:;
background-color: white;

border-style: hidden;

padding:7px;
}


table {
border-style:  inset;

}
tr {


}
td{
border-style: inset;
border-color: #80b5cb;

}
