body{
<<<<<<< HEAD
  background-color: #7eb4cc;
=======
  background-color: black;
>>>>>>> 078d6989549431af4a45ad7953921ebc33e8bad9
}

.container
{
  height: 30px;
  background-color: grey;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  border-style: inset;
}

.item{
  height: 30px;
  width: 120px;
  background-color: #6699cc;
  display: flex;
}

.box{
  height: 800px;
  background-color: grey;
  border-style: inset;
    flex-direction: row;
  justify-content: space-around;
  display: flex;
  align-items: center;
<<<<<<< HEAD

=======
>>>>>>> 078d6989549431af4a45ad7953921ebc33e8bad9
}

.page{
  height: 400px;
  width: 250px;
  background-color: darkgrey;
  display: flex;
  border-style: inset;
  justify-content: space-around;
<<<<<<< HEAD
  flex-direction: column;
}
  table {
border-style: solid;
border-color: lightgrey;
  background-color: grey;
=======
}
  table {
border-style: solid;
border-color: #13263a;
  background-color: #264d73;
>>>>>>> 078d6989549431af4a45ad7953921ebc33e8bad9
  color: white;
}
tr {
}
td{
border-style: solid;
border-color: #6699cc;
}
<<<<<<< HEAD


.item-content{
  display: none;
}

.item-content a{
  width: 100px;
  height: 60px;
  background-color:#a4cada;
  display:block;
  flex-direction: row;
  border: 3px solid;
  border-radius: 7px;
  box-shadow: 5px;
  padding:7px;
  border-color: black;
  text-decoration-color: White;

}

.item:hover .item-content {
  display: block;
=======
.down{
  height: 30px;
  background-color: grey;
  border-style: inset;
>>>>>>> 078d6989549431af4a45ad7953921ebc33e8bad9
}
